{% extends "layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

<div class="page {{ color }}">
    <div class="content">
        <header>Group {{ id }}</header>
        <article>
            <div class="chat_area">
                <div class="messages">
                    <!--<div class="me">test</div>
                    <div class="other">testing</div>-->
                </div>
                <form class="interact">
                    <input type="text" class="input">
                    <input type="submit" class="submit" value="Send">
                </form>
            </div>
        </article>
    </div>
</div>

{% endblock %}