<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/script.js"></script>
        <script src="/js/socket.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar">
                <div class="nav">
                {% for group in groupList %}
                    <div class="link green_hover" data-color="green">
                        <a href="#/group/{{group.id}}" onClick="pageColor('')"><i class="fa fa-home"></i> <span>Group {{ group.id }}</span></a>
                    </div>
                {% endfor %}
                </div>
            </div>
            <a onClick="newChat()">
                <div class="bottomButton">
                    <CENTER><div class="bottomButtonText">New Chat</div></CENTER>
                </div>
            </a>
            <div style="clear: both"></div>

            <div class="pages">

            {% block content %}{% endblock %}

            </div>
        
        </div>
    </body>
</html>
