<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/script.js"></script>
        <script src="/js/socket.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="sidebar">
                <div class="nav">
                    <div class="link green_hover" data-color="green">
                        <a href="/1"><i class="fa fa-home"></i> <span>Group 1</span></a>
                    </div>
                    <div class="link teal_hover" data-color="teal">
                        <a href="/2"><i class="fa fa-comments"></i> <span>Group 2</span></a>
                    </div>
                    <div class="link blue_hover" data-color="blue">
                        <a href="/3"><i class="fa fa-thumb-tack"></i> <span>Group 3</span></a>
                    </div>
                    <div class="link purple_hover" data-color="purple">
                        <a href="/4"><i class="fa fa-users"></i> <span>Group 4</span></a>
                    </div>
                    <div class="link red_hover" data-color="red">
                        <a href="/5"><i class="fa fa-user"></i> <span>Group 5</span></a>
                    </div>
                    <div class="link orange_hover" data-color="orange">
                        <a href="/6"><i class="fa fa-trophy"></i> <span>Group 6</span></a>
                    </div>
                    <div class="link yellow_hover" data-color="yellow">
                        <a href="/7"><i class="fa fa-envelope-o"></i> <span>Group 7</span></a>
                    </div>
                </div>
            </div>

            <div style="clear: both"></div>

            <div class="pages">

            {% block content %}{% endblock %}

            </div>
        
        </div>
    </body>
</html>