@import url(http://fonts.googleapis.com/css?family=Montserrat:400);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400);

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    background-color: #ecf0f1;
    color: #ecf0f1;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #ecf0f1;
}

a:hover {
    text-decoration: none;
}

.wrapper {
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 20%;
    background-color: #34495e;
    position: fixed;
}

.nav {
    margin-top: 75%;
}

.link {
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #ecf0f1;
    font-size: 18px;
    text-align: center;
}

.link:hover {
    cursor: pointer;
}

.link a i {
    font-size: 130%;
    width: 15%;
    float: left;
    line-height: 250%;
    margin: 0 15%;
    text-align: center;
}

.link a span {
    float: left;
    width: 45%;
    text-align: left;
}

.pages {
    width: 100%;
    float: left;
    height: 100%;
}

.page {
    width: 80%;
    height: 100%;
    margin-left: 20%;
    overflow: auto;
}

.content {
    width: 75%;
    background-color: #ecf0f1;
    margin-left: 9%;
    margin-top: 40px;
    color: #34495e;
    text-align: center;
    padding: 4% 4% 0 4%;
    height: 80%;
}

    .content header {
        font-size: 40px;
    }

    .content article {
        font-family: 'Merriweather', serif;
        font-size: 16px;
        padding-top: 5%;
        height: 82%;
    }

.chat_area {
    position: relative;
    height: 100%;
}

    .messages {
        height: 90%;
        overflow: scroll;
        padding-bottom: 5px;
    }

    .messages .other, .messages .me {
        border: 1px solid #95a5a6;
        clear: both;
        padding: 1%;
        border-radius: 20px;
        margin-bottom: 1%;
        word-wrap: break-word;
    }

    .messages .other {
        float: left;
    }

    .messages .me {
        float: right;
    }

    .interact {
        position: absolute;
        width: 100%;
        bottom: 0;

    }

        .interact .input {
            width: 90%;
            padding: 10px;
        }

        .interact .submit {
            
        }

.yellow, .yellow_hover:hover, .yellow_hover.active {
    background-color: #f1c40f;
}

.orange, .orange_hover:hover, .orange_hover.active {
    background-color: #e67e22;
}

.red, .red_hover:hover, .red_hover.active {
    background-color: #e74c3c;
}

.teal, .teal_hover:hover, .teal_hover.active {
    background-color: #1abc9c;
}

.green, .green_hover:hover, .green_hover.active {
    background-color: #2ecc71;
}

.blue, .blue_hover:hover, .blue_hover.active {
    background-color: #3498db;
}

.purple, .purple_hover:hover, .purple_hover.active {
    background-color: #9b59b6;
}

.silver {
    background-color: #bdc3c7;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.bottomButton {
    position: absolute;
    bottom: 0;
    width: 20%;
    height: 60px;
    background: #eee;
}
.bottomButtonText{
    font-size: 100%;
    padding-top: 10%;
    color: #000000;
}
